<!-- include Header -->
<%- include('include/_header') %>
<!-- /include Header -->

<!-------------------- Main Site ------------------>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> Users</a>
            </div>
            <div id="user_center" class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Fill the below form to creates new account</span>
            </div>
        </div>

        <!-- Add user Form -->
        <%- include('include/_form') %>
    </div>    
</main>
<!-------------------- /Main Site ------------------>




<!-- include Footer -->
<%- include('include/_footer') %>
<!-- /include Footer   -->
